<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                 <rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
         <match url="(.*)" /> 
         <conditions> 
           <add input="{HTTPS}" pattern="off" ignoreCase="true" />
         </conditions> 
         <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
       </rule>

				<rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^([0-9a-zA-Z-_./]+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt|\.xml|\.pdf)$" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?get={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^map/sitemap.xml$" />
                    <action type="Rewrite" url="map/sitemap.php" appendQueryString="true" />
                </rule>
				 <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^map/feed.xml$" />
                    <action type="Rewrite" url="map/feed.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^map/rss.xml$" />
                    <action type="Rewrite" url="map/rss.php" appendQueryString="true" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
