/* Sepetim Css */
/*------------------------------------------------------------------
[Less Zr]
-------------------------------------------------------------------*/
/*--------------- Base Color --------------*/
/*--------------- PlaceHolder ---------------*/
/*--------------- Absolute ---------------*/
/*--------------- Relative ---------------*/
/*------------ Rotate -----------------*/
/*--------------- Border Radius ---------------*/
/*--------------- Custom Radius ---------------*/
/*--------------- Transtion---------------*/
/*--------------- Origin Transform ---------------*/
/*--------------- Scale ---------------*/
/*--------------- Linear Grarient ---------------*/
/*--------------- Quick Gradient ---------------*/
/*--------------- Box Shadow 1 ---------------*/
/*--------------- Box Shadow 2 ---------------*/
/*--------------- Box Shadow 3 ---------------*/
.box-shadow-3 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box-shadow-3:before,
.box-shadow-3:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* Sepet */
.cihaniriboy-sepet-content {
  width: 100%;
  float: left;
  min-height: 450px;
  font-family: 'Dosis', sans-serif;
}
.cihaniriboy-sepet-content .siparis-tamam-header {
  width: 100%;
  float: left;
  margin-top: 40px;
}
.cihaniriboy-sepet-content .siparis-tamam-header .active {
  border-top: 2px solid #e31837 !important;
}
.cihaniriboy-sepet-content .siparis-tamam-header .step-blok {
  width: 100%;
  float: left;
  padding: 15px 25px 20px 25px;
  height: 100px;
  background: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
}
.cihaniriboy-sepet-content .siparis-tamam-header .step-blok > i {
  position: absolute;
  right: 5px;
  top: -15px;
  font-size: 120px;
  color: #737373;
  opacity: 0.2;
}
.cihaniriboy-sepet-content .siparis-tamam-header .step-blok .sepet-header {
  width: 100%;
  float: left;
  margin-top: 10px;
  position: relative;
}
.cihaniriboy-sepet-content .siparis-tamam-header .step-blok .sepet-header h2 {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
}
.cihaniriboy-sepet-content .siparis-tamam-header .step-blok .sepet-header h2 > i {
  margin-right: 6px;
  color: #e31837;
}
.cihaniriboy-sepet-content .siparis-tamam-header .step-blok .sepet-header p {
  display: block;
  font-size: 14px;
}
.cihaniriboy-sepet-content .tamamla-sol {
  width: 100%;
  float: left;
  margin-top: 20px;
  min-height: 200px;
  /*Ödeme Bilgiler */
  /* t bilgier*/
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi {
  width: 100%;
  float: left;
  background: #fff;
  border: solid 1px #e4e4e4;
  padding: 15px 25px;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .title {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .title i {
  float: left;
  font-size: 30px;
  color: #e31837;
  margin-right: 10px;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .title .title-right {
  float: left;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .title .title-right h3 {
  display: block;
  font-weight: 500;
  margin-top: 0;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .title .title-right span {
  font-size: 13px;
  display: block;
  margin-top: 3px;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content {
  width: 100%;
  float: left;
  margin-top: 25px;
  position: relative;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-select h5 {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-select .form-control[disabled],
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-select .form-control[readonly],
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-select fieldset[disabled] .form-controls {
  opacity: 0.3;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-select select {
  width: 100%;
  float: left;
  border-radius: 0;
  border: 1px solid #e4e4e4;
  box-shadow: none;
  background: #f5f5f5;
  padding-top: 4px;
  padding-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-select select {
    margin-bottom: 20px;
  }
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-select select option {
  font-size: 15px;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-select select:focus {
  box-shadow: none;
  border: 1px solid #ccc;
  background: #fff;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-disable {
  width: 100%;
  float: left;
  margin-top: 25px;
  margin-bottom: 10px;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-disable input {
  float: left;
  margin-right: 4px;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-disable label {
  font-weight: 400;
  float: left;
  font-size: 13px;
  line-height: 21px;
  margin-top: 4px;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-tanimla {
  width: 100%;
  float: left;
  font-size: 14px;
  padding: 15px 15px;
  border: 1px solid #ddd;
  background: #f5f5f5;
}
.cihaniriboy-sepet-content .tamamla-sol .adres-secimi .secim-content .adres-tanimla a {
  font-size: 14px;
  color: green;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi {
  width: 100%;
  float: left;
  background: #fff;
  border: solid 1px #e4e4e4;
  padding: 15px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .title {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .title i {
  float: left;
  font-size: 30px;
  color: #e31837;
  margin-right: 10px;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .title .title-right {
  float: left;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .title .title-right h3 {
  display: block;
  font-weight: 500;
  margin-top: 0;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .title .title-right span {
  font-size: 13px;
  display: block;
  margin-top: 3px;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .kargo-list {
  width: 100%;
  float: left;
  margin-top: 15px;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .kargo-list ul li {
  padding: 8px 10px;
  border: 1px solid #f5f5f5;
  font-size: 14px;
  width: 100%;
  float: left;
  margin-bottom: 8px;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .kargo-list ul li label {
  width: 100%;
  font-weight: 400;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .kargo-list ul li .kargoinput {
  float: left;
  margin-right: 10px;
  margin-top: 14px;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .kargo-list ul li .kargoimg {
  width: 70px;
  height: 40px;
  position: relative;
  border: solid 1px #eee;
  background: #fff;
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .kargo-list ul li .kargoimg img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .kargo-list ul li .kargoname {
  float: left;
  margin-top: 15px;
}
.cihaniriboy-sepet-content .tamamla-sol .kargo-secimi .kargo-list ul li .kargoname .kargo-price {
  float: none;
  display: inline-block;
  margin: 0 5px;
}
.cihaniriboy-sepet-content .tamamla-sol .siparis-notu {
  width: 100%;
  float: left;
  background: #fff;
  border: solid 1px #e4e4e4;
  padding: 15px 25px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.cihaniriboy-sepet-content .tamamla-sol .siparis-notu .title {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.cihaniriboy-sepet-content .tamamla-sol .siparis-notu .title i {
  float: left;
  font-size: 30px;
  color: #e31837;
  margin-right: 10px;
}
.cihaniriboy-sepet-content .tamamla-sol .siparis-notu .title .title-right {
  float: left;
}
.cihaniriboy-sepet-content .tamamla-sol .siparis-notu .title .title-right h3 {
  display: block;
  font-weight: 500;
  margin-top: 0;
}
.cihaniriboy-sepet-content .tamamla-sol .siparis-notu .title .title-right span {
  font-size: 13px;
  display: block;
  margin-top: 3px;
}
.cihaniriboy-sepet-content .tamamla-sol .siparis-notu textarea {
  resize: none;
  margin-top: 25px;
  float: left;
  width: 100%;
  height: 140px;
}
.cihaniriboy-sepet-content .tamamla-sol .siparis-notu textarea:focus {
  box-shadow: none;
  border: 1px solid #ccc;
  background: #fff;
}
.cihaniriboy-sepet-content .back-btn {
  width: 100%;
  float: left;
  padding: 0 20px;
  margin-bottom: 25px;
}
.cihaniriboy-sepet-content .back-btn a {
  background: none #fff;
  color: #a0a0a0;
  margin: 0 0 0 0;
  padding: 5px 30px;
  width: auto;
  height: auto;
  margin-top: 15px;
  border-radius: 3px;
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  float: left;
  font-weight: 500;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.cihaniriboy-sepet-content .back-btn a:hover {
  background: #e31837;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.cihaniriboy-sepet-content .back-btn a i {
  margin-right: 6px;
}
.cihaniriboy-sepet-content .sepet-page {
  width: 100%;
  float: left;
  margin-top: 25px;
  background: #fff;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table {
  width: 100%;
  float: left;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #e9ecef;
  color: #374250;
  font-size: 15px;
  background: #fff;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table thead {
  margin: 4px 0;
  background-color: #f5f5f5;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table thead tr {
  border-bottom: none;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table thead tr th {
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  padding-top: 17px;
  vertical-align: middle !important;
  padding-bottom: 17px;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table tbody tr td.urun-bilgi a {
  width: 80px;
  float: left;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table tbody tr td.urun-bilgi a img {
  float: left;
  width: 100%;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table tbody tr td.urun-bilgi .sepet-desc {
  color: #374250;
  font-weight: 600;
  float: left;
  margin-left: 10px;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table tbody tr td {
  vertical-align: middle !important;
  border-top: 1px solid #e9ecef;
  font-size: 14px;
  padding: .75rem;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table tbody tr td a.remove {
  color: #333;
}
.cihaniriboy-sepet-content .sepet-page .sepet-table table tbody tr td a.remove:hover {
  color: #e31837;
}
.cihaniriboy-sepet-content .sepet-page .sepet-alt {
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  padding: 20px 0;
}
.cihaniriboy-sepet-content .sepet-page .sepet-alt .sepet-toplam {
  float: right;
  padding-right: 20px;
}
.cihaniriboy-sepet-content .sepet-page .sepet-alt .sepet-toplam span {
  font-weight: 700;
  font-size: 17px;
  color: #374250;
}
.cihaniriboy-sepet-content .sepet-page .sepet-siparis {
  width: 100%;
  float: left;
  margin: 15px 0;
  padding: 10px 0;
}
.cihaniriboy-sepet-content .sepet-page .sepet-siparis button {
  font-size: 16px;
  padding: 15px 50px;
  float: right;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #e31837;
  border: none;
}
.cihaniriboy-sepet-content .sepet-page .sepet-siparis button:hover {
  background: #333;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.cihaniriboy-sepet-content .sepet-page-right {
  width: 100%;
  float: left;
  margin-top: 25px;
  /* Mini Sepet */
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet {
  float: left;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 19px;
  width: 100%;
  margin: 0;
  margin-top: 20px;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .title {
  width: 100%;
  float: left;
  cursor: pointer;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .title span {
  color: #e31837;
  font-size: 14px;
  float: left;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .title a {
  float: right;
  font-size: 14px;
  color: #333;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list {
  width: 100%;
  float: left;
  margin-top: 15px;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item .urun-img {
  width: 25%;
  margin-right: 8px;
  float: left;
  text-align: center;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item .urun-img img {
  height: auto;
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item .urun-infos {
  width: 71%;
  float: right;
  font-size: 13px;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item .urun-infos .name {
  width: 100%;
  float: left;
  line-height: 17px;
  margin-top: 3px;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item .urun-infos .name .right-varyants {
  margin-top: 8px;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item .urun-infos .name span {
  display: block;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item .urun-infos .name span.var-desc {
  float: left!important;
  font-size: 12px;
  margin-right: 5px;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item .urun-infos .name span.varyant-deger {
  float: left!important;
  font-size: 12px;
}
.cihaniriboy-sepet-content .sepet-page-right .mini-sepet .urun-list .urun-item .urun-infos .name span.varyant-deger p {
  float: right;
  margin: 0 5px;
}
.cihaniriboy-sepet-content .sepet-page-right .sip-done {
  width: 100%;
  float: left;
}
.cihaniriboy-sepet-content .sepet-page-right .sip-done button {
  background: none #e31837;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  float: none;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 3px;
  line-height: 28px;
  font-size: 16px;
  border: 0;
  font-weight: normal;
  padding: 5px 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.cihaniriboy-sepet-content .sepet-page-right .sip-done button:hover {
  background: #333;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.cihaniriboy-sepet-content .sepet-page-right .sip-done button i {
  margin-left: 20px;
}
.cihaniriboy-sepet-content .sepet-page-right .sip-done a {
  background: none #e31837;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  float: none;
  width: auto;
  height: auto;
  display: block;
  border-radius: 3px;
  line-height: 28px;
  font-size: 16px;
  border: 0;
  font-weight: normal;
  padding: 5px 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.cihaniriboy-sepet-content .sepet-page-right .sip-done a:hover {
  background: #333;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.cihaniriboy-sepet-content .sepet-page-right .sip-done a i {
  margin-left: 20px;
}
.cihaniriboy-sepet-content .sepet-page-right .sozlesmeler {
  float: left;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 19px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  position: relative;
  min-height: 120px;
  font-size: 14px;
}
.cihaniriboy-sepet-content .sepet-page-right .sozlesmeler .form-group {
  position: relative;
  min-height: 55px;
}
.cihaniriboy-sepet-content .sepet-page-right .sozlesmeler .form-group .form-control-feedback {
  top: 33px;
}
.cihaniriboy-sepet-content .sepet-page-right .sozlesmeler .sozlesme-1 {
  width: 100%;
  float: left;
  position: relative;
}
.cihaniriboy-sepet-content .sepet-page-right .sozlesmeler .sozlesme-2 {
  width: 100%;
  float: left;
  position: relative;
}
.cihaniriboy-sepet-content .sepet-page-right .sozlesmeler label {
  font-weight: 400;
}
.cihaniriboy-sepet-content .sepet-page-right .sozlesmeler a {
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right {
  float: left;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 19px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  min-height: 180px;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right .overlay-sepet {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  left: 0;
  z-index: 2;
  display: none;
  top: 0;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right .overlay-sepet img {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right ul {
  width: 100%;
  float: left;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right ul li.genel-toplam span {
  font-weight: 600;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right ul li.genel-toplam span.tutar {
  color: #e31837;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right ul li {
  width: 100%;
  float: left;
  padding: 4px 0;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right ul li span {
  float: left;
  font-size: 14px;
  font-weight: 400;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right ul li span:last-child {
  float: right;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right ul li span.tutar {
  float: right;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right ul li span.kargo-tutar {
  float: right;
}
.cihaniriboy-sepet-content .sepet-page-right .basket-right ul li p {
  float: right;
  font-size: 14px;
  font-weight: 400;
  margin-left: 4px;
}
