/*
*
*	25.12.2016 - Başlangıç
*	@ 
*	@ Ofisimo.com Hiratuva
*   @ bilgi@ofisimo.com
*   @ 0 850 346 98 42
*  
*
*/
/* 
   usage
*/
/*------------------------------------------------------------------
[Less Zr]
-------------------------------------------------------------------*/
/*--------------- Base Color --------------*/
/*--------------- PlaceHolder ---------------*/
/*--------------- Absolute ---------------*/
/*--------------- Relative ---------------*/
/*------------ Rotate -----------------*/
/*--------------- Border Radius ---------------*/
/*--------------- Custom Radius ---------------*/
/*--------------- Transtion---------------*/
/*--------------- Origin Transform ---------------*/
/*--------------- Scale ---------------*/
/*--------------- Linear Grarient ---------------*/
/*--------------- Quick Gradient ---------------*/
/*--------------- Box Shadow 1 ---------------*/
/*--------------- Box Shadow 2 ---------------*/
/*--------------- Box Shadow 3 ---------------*/
.box-shadow-3 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box-shadow-3:before,
.box-shadow-3:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.clear {
  clear: both;
}
.col-center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0!important;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-25 {
  margin-top: 20px;
}
.margin-top-35 {
  margin-top: 35px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-25 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px!important;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.inline-block {
  display: inline-block;
}
/******** Def  *************/
/**** Header Drop Down ******/
.cnt-custom-list li ul li {
  width: 100%;
}
.cnt-custom-list li ul li a {
  padding: 3px 5px!important;
  font-size: 13px!important;
  clear: both!important;
  font-weight: 400!important;
  line-height: 1.42857143!important;
  color: #333!important;
  float: left!important;
  width: 100%!important;
}
.cnt-custom-list li ul li a i {
  margin-right: 5px;
  width: 20px;
}
.sepet-icon {
  position: relative;
  float: left;
}
.sepet-icon .dropdown-menu {
  right: 100%;
  margin: 0;
  padding: 0;
  left: -200px;
  top: 50px;
  background: #fff;
  width: 290px!important;
  position: absolute;
}
@media screen and (max-width: 640px) {
  .sepet-icon .dropdown-menu {
    left: -236px;
  }
}
.sepet-icon .dropdown-menu .overlay-sepet {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  left: 0;
  z-index: 2;
  display: none;
  top: 0;
}
.sepet-icon .dropdown-menu .overlay-sepet img {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.sepet-icon ul.sepet-ul {
  width: 100%;
  float: left;
}
.sepet-icon ul.sepet-ul:before {
  border-bottom: 10px solid #e31837;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  right: 65px;
  content: "";
  height: 0;
  margin-right: -3px;
  pointer-events: none;
  position: absolute;
  width: 0;
  top: -11px;
}
@media screen and (max-width: 640px) {
  .sepet-icon ul.sepet-ul:before {
    right: 33px;
  }
}
.sepet-icon ul.sepet-ul li.border-none {
  border-bottom: none!important;
}
.sepet-icon ul.sepet-ul li {
  width: 100%;
  float: left;
  border-bottom: solid 1px #e0e0e0;
  margin: 0;
  position: relative;
  padding: 10px;
}
.sepet-icon ul.sepet-ul li .figure {
  float: left;
  margin-right: 10px;
  border: 1px solid #e31837;
}
.sepet-icon ul.sepet-ul li .figure > a img {
  float: left;
  width: 40px;
}
.sepet-icon ul.sepet-ul li .detail {
  color: #666666;
  font-size: 13px;
  font-weight: 600;
}
.sepet-icon ul.sepet-ul li .detail .urun-name {
  display: block;
}
.sepet-icon ul.sepet-ul li .detail .urun-adet {
  float: left;
  margin-right: 2px;
}
.sepet-icon ul.sepet-ul li .detail .urun-fiyat {
  float: left;
}
.sepet-icon ul.sepet-ul li .detail .urun-fiyat span {
  margin-right: 4px;
}
.sepet-icon ul.sepet-ul li .remove-sepet {
  position: absolute;
  right: 10px;
  top: 18px;
}
.sepet-icon ul.sepet-ul li .remove-sepet a {
  color: #333;
}
.sepet-icon ul.sepet-ul li .sepet-yok {
  color: #333;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
}
.sepet-icon ul.sepet-ul li .toplam-fiyat {
  width: 100%;
  float: left;
  padding-right: 4px;
  color: #000;
}
.sepet-icon ul.sepet-ul li .toplam-fiyat .fiyat-item {
  width: 100%;
  float: right;
}
.sepet-icon ul.sepet-ul li .toplam-fiyat .fiyat-item span.genel-tutar {
  font-weight: 600;
}
.sepet-icon ul.sepet-ul li .toplam-fiyat .fiyat-item span {
  font-weight: 500;
  width: 110px;
  float: left;
  color: #666666;
  font-size: 12px;
}
.sepet-icon ul.sepet-ul li .toplam-fiyat .fiyat-item span p {
  float: left;
  margin-right: 5px;
  margin-bottom: 0;
}
.sepet-icon ul.sepet-ul li .toplam-fiyat .fiyat-item em {
  font-style: normal;
  float: left;
  margin-right: 10px;
}
.sepet-icon ul.sepet-ul li .sepete-git a {
  background: #e31837;
  color: #fff;
  font-size: 14px;
  padding: 5px 15px;
  font-weight: 600;
  text-align: center;
  display: block;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.sepet-icon ul.sepet-ul li .sepete-git a:hover {
  background: #333;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.sepet-icon ul.sepet-ul .dropdown-title {
  background: #333;
  border-bottom: 1px solid #e5e5e5;
  padding: 9px 0;
  text-align: left;
  width: 100%;
  float: left;
}
.sepet-icon ul.sepet-ul .dropdown-title h2 {
  color: #fff;
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: 500;
  text-indent: 10px;
}
/*********** Breadcrumbs  **************/
.breadcrumbs {
  width: 100%;
  float: left;
  padding: 15px 0;
  margin-bottom: 15px;
}
.breadcrumbs ul {
  padding: 0 15px;
}
.breadcrumbs ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  font-size: 12px;
  color: #000;
  font-weight: 400;
  margin-right: 12px;
  position: relative;
}
.breadcrumbs ul li:after {
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
  right: -9px;
  top: 0;
  font-size: 12px;
  color: #000;
}
.breadcrumbs ul li:last-child:after {
  content: '';
}
.breadcrumbs ul li a {
  font-size: 12px;
  color: #000;
  font-weight: 400;
  position: relative;
  display: inline-block;
}
/*------ Ortak Sidebar ------*/
.custom-inner-right {
  width: 100%;
  float: left;
}
.custom-inner-right .sidebar {
  width: 100%;
  float: left;
  margin-top: 25px;
  border-top: 4px solid #e31837;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-radius: 3px;
  background: #fff;
}
.custom-inner-right .sidebar ul li {
  width: 100%;
  float: left;
}
.custom-inner-right .sidebar ul li a.active {
  color: #e31837;
}
.custom-inner-right .sidebar ul li a {
  display: block;
  text-decoration: none;
  line-height: 49px;
  color: #575757;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 3px 15px;
}
.custom-inner-right .sidebar ul li a:hover {
  color: #e31837;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.custom-inner-right .sidebar ul li a i {
  width: 30px;
}
/*********** Sepet Alert ***************/
.sepet-alert-content .close {
  font-size: 40px;
  color: #797979;
  position: absolute;
  right: 10px;
  top: 0;
  opacity: 1;
  z-index: 9999;
}
.sepet-alert-content .close:hover {
  color: #e31837;
}
.sepet-alert-content .modal-content {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  z-index: 3;
}
.sepet-alert-content .modal-buttons {
	width:100%;
	float:left;
	margin-top:25px;
	margin-bottom:15px;
}
.sepet-alert-content .modal-buttons a{ 
	display:inline-block;
	padding:6px 15px;
	background:#e31837;	
	color:#fff;
	font-size:15px;
	margin:0 5px;
}
.sepet-alert-content .alert-body {
  width: 100%;
  float: left;
  min-height: 200px;
  margin-top: 40px;
  text-align: center;
}
.sepet-alert-content .alert-body .ci-icon-content {
  display: inline-block;
  border: 2px solid #e31837;
  border-radius: 50%;
  padding: 20px;
}
.sepet-alert-content .alert-body .ci-icon-content i {
  color: #e31837;
  font-size: 42px;
}
.sepet-alert-content .alert-body .ci-success-text {
  color: #333;
  font-size: 23px;
  font-weight: 600;
  width: 100%;
  float: left;
  margin-top: 30px;
}
.sozlesme-modal {
  font-size: 14px;
}
.cihaniriboy-sayfalama {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
}
.cihaniriboy-sayfalama .cihaniriboy_sayfalama_orta {
  display: inline-block;
  background: #d6dbdf;
  border-radius: 6px;
  overflow: hidden;
}
.cihaniriboy-sayfalama .cihaniriboy_sayfalama_orta span.cihaniriboy-spanaktif {
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.1));
  background-color: #e31837;
  float: left;
  font-size: 14px;
  padding: 7px 12px;
  color: #fff;
  font-weight: 300;
}
@media screen and (max-width: 991px) {
  .cihaniriboy-sayfalama .cihaniriboy_sayfalama_orta span.cihaniriboy-spanaktif {
    padding: 7px 5px;
    min-width: 31px;
    min-height: 31px;
    font-size: 14px;
  }
}
.cihaniriboy-sayfalama .cihaniriboy_sayfalama_orta a {
  float: left;
  padding: 7px 12px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  border-left: 2px solid #e4e7ea;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media screen and (max-width: 991px) {
  .cihaniriboy-sayfalama .cihaniriboy_sayfalama_orta a {
    padding: 7px 5px;
    min-width: 31px;
    min-height: 31px;
    font-size: 14px;
  }
}
.cihaniriboy-sayfalama .cihaniriboy_sayfalama_orta a:hover {
  background-color: #e31837;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer {
  width: 100%;
  float: left;
}
/* Form Content */
.is-success-form-content {
  width: 100%;
  float: left;
  display: none;
}
.is-success-form-content .is-succes-message {
  width: 100%;
  float: left;
  min-height: 200px;
  margin-top: 40px;
  text-align: center;
}
.is-success-form-content .is-succes-message .ci-icon-content {
  display: inline-block;
  border: 2px solid #e31837;
  border-radius: 50%;
  padding: 20px;
}
.is-success-form-content .is-succes-message .ci-icon-content i {
  color: #e31837;
  font-size: 42px;
}
.is-success-form-content .is-succes-message .ci-success-text {
  color: #e31837;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  float: left;
  margin-top: 10px;
}
.breadcrumb {
  margin-top: 25px;
  background-color:#fff;
}
/* Datatables */
.pagination > li > a,
.pagination > li > span {
  font-size: 13px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #333;
  border-color: #333;
}
/********** Loading **********/
.page-loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: #fff;
  opacity: 1;
}
.page-loading img {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.cihaniriboy-success-form-content {
  width: 100%;
  float: left;
  display: none;
}
.cihaniriboy-success-form-content .cihaniriboy-succes-message {
  width: 100%;
  float: left;
  min-height: 200px;
  margin-top: 40px;
  text-align: center;
}
.cihaniriboy-success-form-content .cihaniriboy-succes-message .ci-icon-content {
  display: inline-block;
  border: 2px solid #57167a;
  border-radius: 50%;
  padding: 20px;
}
.cihaniriboy-success-form-content .cihaniriboy-succes-message .ci-icon-content i {
  color: #57167a;
  font-size: 42px;
}
.cihaniriboy-success-form-content .cihaniriboy-succes-message .ci-success-text {
  color: #57167a;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  float: left;
  margin-top: 10px;
}
ol, ul {
	list-style-type: none;
}
.cihaniriboy-outer-page {
	width:100%;
	float:left;
	margin-top:50px;
}
.sifremiunuttum-content {
	width:100%;
	float:left;
	border: 1px solid #ececec;
	min-height: 282px;
	margin-bottom:40px;
	padding:20px 10px;
}
.cihaniriboy-page-title h2 {
    width: 100%;
    float: left;
    font-weight: 700;
    font-size: 19px;
    color: #333;
    margin: 0;
}
.cihaniriboy-inner-page .form {
	width: 100%;
    float: left;
    margin-top: 25px;
}
.cihaniriboy-inner-page .form  input{
	border-radius: 0;
    height: 43px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #eee;
    float: left;
}
.cihaniriboy-inner-page .form .form-group {
	width: 100%;
    float: left;
}
.cihaniriboy-inner-page .form  .guvenlik-span {
	margin-left:20px;
	margin-top:10px;
}
.cihaniriboy-inner-page .form .form-errors {
	width: 100%;
    float: left;
	color:red;
	margin:20px 0;
}
.extra-modul {
	width:100%;
	float:left;
}
.extra-modul .modul-baslik {
	width:100%;
	float:left;
	color:#333;
	margin:6px 0;
	font-weight:500;
}
.extra-modul .modul-input{ 
	width:100%;
	float:left;
}

.sip-teslim {
	width:100%;
	float:left;
}


.sip-teslim .title{ 
  font-weight:bold;
  color:#666666;
}

.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
  left: auto;
  right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
  left: auto;
  right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
  left: auto;
  right: 13px;
}
.bootstrap-timepicker .add-on {
  cursor: pointer;
}
.bootstrap-timepicker .add-on i {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.bootstrap-timepicker-widget.dropdown-menu {
  padding: 4px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
  display: inline-block;
  z-index: 10000;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.timepicker-orient-left:before {
  left: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-left:after {
  left: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:before {
  right: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:after {
  right: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:before {
  top: -7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:after {
  top: -6px;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #CCC;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input {
  border-radius: 3px;
}
.bootstrap-timepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker-widget table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker-widget table td:not(.separator) {
  min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
  width: 100%;
}
.bootstrap-timepicker-widget table td a {
  border: 1px transparent solid;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0 0;
  outline: 0;
  color: #303641;
}
.bootstrap-timepicker-widget table td a:hover {
  text-decoration: none;
  background-color: #f5f5f6;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: #ebebeb;
}
.bootstrap-timepicker-widget table td a i {
  margin-top: 2px;
}
.bootstrap-timepicker-widget table td a i:before {
  font-family: "Entypo";
  font-size: 12px;
  font-style: normal;
}
.bootstrap-timepicker-widget table td a i.icon-chevron-up:before {
  content: '\e876';
}
.bootstrap-timepicker-widget table td a i.icon-chevron-down:before {
  content: '\e873';
}
.bootstrap-timepicker-widget table td input {
  width: 25px;
  margin: 0;
  text-align: center;
  outline: none;
  border: 0;
  background: transparent;
}
.bootstrap-timepicker-widget table td input:focus {
  background: #f5f5f6;
}
.bootstrap-timepicker-widget .modal-content {
  padding: 4px;
}


.date-and-time > input.datepicker {
  float: left;
  width: 70%;
}

.date-and-time > input.datepicker6 {
  float: left;
  width: 70%;
}
.date-and-time > input.timepicker {
  float: right;
  width: 30%;
}
.date-and-time > input:first-child {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  border-right: 0;
}
.date-and-time > input:last-child {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
@media (min-width: 767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .bootstrap-timepicker {
    width: 100%;
  }
  .bootstrap-timepicker .dropdown-menu {
    width: 100%;
  }
}

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
div.datepicker {
  padding: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  direction: ltr;
  /*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}
div.datepicker-inline {
  width: 206px;
}
div.datepickerdiv.datepicker-rtl {
  direction: rtl;
}
div.datepickerdiv.datepicker-rtl table tr td span {
  float: right;
}
div.datepicker-dropdown {
  top: 0;
  left: 0;
}
div.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ebebeb;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
div.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-top: 0;
  position: absolute;
}
div.datepicker-dropdown.datepicker-orient-left:before {
  left: 6px;
}
div.datepicker-dropdown.datepicker-orient-left:after {
  left: 7px;
}
div.datepicker-dropdown.datepicker-orient-right:before {
  right: 6px;
}
div.datepicker-dropdown.datepicker-orient-right:after {
  right: 7px;
}
div.datepicker-dropdown.datepicker-orient-top:before {
  top: -7px;
}
div.datepicker-dropdown.datepicker-orient-top:after {
  top: -6px;
}
div.datepicker-dropdown.datepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #CCC;
}
div.datepicker-dropdown.datepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
div.datepicker > div {
  display: none;
}
div.datepicker.days div.datepicker-days {
  display: block;
}
div.datepicker.months div.datepicker-months {
  display: block;
}
div.datepicker.years div.datepicker-years {
  display: block;
}
div.datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.datepicker td,
div.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
}
.table-striped div.datepicker table tr td,
.table-striped div.datepicker table tr th {
  background-color: transparent;
}
div.datepicker table tr td.day:hover {
  background: #eeeeee;
  cursor: pointer;
  color: #303641;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
div.datepicker table tr td.old,
div.datepicker table tr td.new {
  color: #999999;
}
div.datepicker table tr td.disabled,
div.datepicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  color: #dee0e4;
  cursor: default;
}
div.datepicker table tr td.today,
div.datepicker table tr td.today:hover,
div.datepicker table tr td.today.disabled,
div.datepicker table tr td.today.disabled:hover {
  *background-color: #737397;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #000;
}
div.datepicker table tr td.today.switch-left,
div.datepicker table tr td.today:hover.switch-left,
div.datepicker table tr td.today.disabled.switch-left,
div.datepicker table tr td.today.disabled:hover.switch-left {
  background-color: #737397;
  color: #ffffff;
}
div.datepicker table tr td.today.switch-right,
div.datepicker table tr td.today:hover.switch-right,
div.datepicker table tr td.today.disabled.switch-right,
div.datepicker table tr td.today.disabled:hover.switch-right {
  background-color: #f5f5f6;
  color: #737881;
}
div.datepicker table tr td.today.switch-right:hover,
div.datepicker table tr td.today:hover.switch-right:hover,
div.datepicker table tr td.today.disabled.switch-right:hover,
div.datepicker table tr td.today.disabled:hover.switch-right:hover {
  background-color: #f5f5f6;
  color: #737881;
}
div.datepicker table tr td.today:hover,
div.datepicker table tr td.today:hover:hover,
div.datepicker table tr td.today.disabled:hover,
div.datepicker table tr td.today.disabled:hover:hover,
div.datepicker table tr td.today:focus,
div.datepicker table tr td.today:hover:focus,
div.datepicker table tr td.today.disabled:focus,
div.datepicker table tr td.today.disabled:hover:focus,
div.datepicker table tr td.today:active,
div.datepicker table tr td.today:hover:active,
div.datepicker table tr td.today.disabled:active,
div.datepicker table tr td.today.disabled:hover:active,
div.datepicker table tr td.today.active,
div.datepicker table tr td.today:hover.active,
div.datepicker table tr td.today.disabled.active,
div.datepicker table tr td.today.disabled:hover.active,
div.datepicker table tr td.today.disabled,
div.datepicker table tr td.today:hover.disabled,
div.datepicker table tr td.today.disabled.disabled,
div.datepicker table tr td.today.disabled:hover.disabled,
div.datepicker table tr td.today[disabled],
div.datepicker table tr td.today:hover[disabled],
div.datepicker table tr td.today.disabled[disabled],
div.datepicker table tr td.today.disabled:hover[disabled] {
  color: #ffffff;
  *background-color: #66678a;
}
div.datepicker table tr td.today:active,
div.datepicker table tr td.today:hover:active,
div.datepicker table tr td.today.disabled:active,
div.datepicker table tr td.today.disabled:hover:active,
div.datepicker table tr td.today.active,
div.datepicker table tr td.today:hover.active,
div.datepicker table tr td.today.disabled.active,
div.datepicker table tr td.today.disabled:hover.active {
  background-color: #5b5c7c \9;
}
div.datepicker table tr td.today:hover:hover {
  color: #000;
}
div.datepicker table tr td.today.active:hover {
  color: #fff;
}
div.datepicker table tr td.range,
div.datepicker table tr td.range:hover,
div.datepicker table tr td.range.disabled,
div.datepicker table tr td.range.disabled:hover {
  background: #eeeeee;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
div.datepicker table tr td.range.today,
div.datepicker table tr td.range.today:hover,
div.datepicker table tr td.range.today.disabled,
div.datepicker table tr td.range.today.disabled:hover {
  *background-color: #f3ea7a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
div.datepicker table tr td.range.today.switch-left,
div.datepicker table tr td.range.today:hover.switch-left,
div.datepicker table tr td.range.today.disabled.switch-left,
div.datepicker table tr td.range.today.disabled:hover.switch-left {
  background-color: #f3ea7a;
  color: #ffffff;
}
div.datepicker table tr td.range.today.switch-right,
div.datepicker table tr td.range.today:hover.switch-right,
div.datepicker table tr td.range.today.disabled.switch-right,
div.datepicker table tr td.range.today.disabled:hover.switch-right {
  background-color: #f5f5f6;
  color: #737881;
}
div.datepicker table tr td.range.today.switch-right:hover,
div.datepicker table tr td.range.today:hover.switch-right:hover,
div.datepicker table tr td.range.today.disabled.switch-right:hover,
div.datepicker table tr td.range.today.disabled:hover.switch-right:hover {
  background-color: #f5f5f6;
  color: #737881;
}
div.datepicker table tr td.range.today:hover,
div.datepicker table tr td.range.today:hover:hover,
div.datepicker table tr td.range.today.disabled:hover,
div.datepicker table tr td.range.today.disabled:hover:hover,
div.datepicker table tr td.range.today:focus,
div.datepicker table tr td.range.today:hover:focus,
div.datepicker table tr td.range.today.disabled:focus,
div.datepicker table tr td.range.today.disabled:hover:focus,
div.datepicker table tr td.range.today:active,
div.datepicker table tr td.range.today:hover:active,
div.datepicker table tr td.range.today.disabled:active,
div.datepicker table tr td.range.today.disabled:hover:active,
div.datepicker table tr td.range.today.active,
div.datepicker table tr td.range.today:hover.active,
div.datepicker table tr td.range.today.disabled.active,
div.datepicker table tr td.range.today.disabled:hover.active,
div.datepicker table tr td.range.today.disabled,
div.datepicker table tr td.range.today:hover.disabled,
div.datepicker table tr td.range.today.disabled.disabled,
div.datepicker table tr td.range.today.disabled:hover.disabled,
div.datepicker table tr td.range.today[disabled],
div.datepicker table tr td.range.today:hover[disabled],
div.datepicker table tr td.range.today.disabled[disabled],
div.datepicker table tr td.range.today.disabled:hover[disabled] {
  color: #ffffff;
  *background-color: #f1e663;
}
div.datepicker table tr td.range.today:active,
div.datepicker table tr td.range.today:hover:active,
div.datepicker table tr td.range.today.disabled:active,
div.datepicker table tr td.range.today.disabled:hover:active,
div.datepicker table tr td.range.today.active,
div.datepicker table tr td.range.today:hover.active,
div.datepicker table tr td.range.today.disabled.active,
div.datepicker table tr td.range.today.disabled:hover.active {
  background-color: #efe24b \9;
}
div.datepicker table tr td.selected,
div.datepicker table tr td.selected:hover,
div.datepicker table tr td.selected.disabled,
div.datepicker table tr td.selected.disabled:hover {
  *background-color: #808080;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
div.datepicker table tr td.selected.switch-left,
div.datepicker table tr td.selected:hover.switch-left,
div.datepicker table tr td.selected.disabled.switch-left,
div.datepicker table tr td.selected.disabled:hover.switch-left {
  background-color: #808080;
  color: #ffffff;
}
div.datepicker table tr td.selected.switch-right,
div.datepicker table tr td.selected:hover.switch-right,
div.datepicker table tr td.selected.disabled.switch-right,
div.datepicker table tr td.selected.disabled:hover.switch-right {
  background-color: #f5f5f6;
  color: #737881;
}
div.datepicker table tr td.selected.switch-right:hover,
div.datepicker table tr td.selected:hover.switch-right:hover,
div.datepicker table tr td.selected.disabled.switch-right:hover,
div.datepicker table tr td.selected.disabled:hover.switch-right:hover {
  background-color: #f5f5f6;
  color: #737881;
}
div.datepicker table tr td.selected:hover,
div.datepicker table tr td.selected:hover:hover,
div.datepicker table tr td.selected.disabled:hover,
div.datepicker table tr td.selected.disabled:hover:hover,
div.datepicker table tr td.selected:focus,
div.datepicker table tr td.selected:hover:focus,
div.datepicker table tr td.selected.disabled:focus,
div.datepicker table tr td.selected.disabled:hover:focus,
div.datepicker table tr td.selected:active,
div.datepicker table tr td.selected:hover:active,
div.datepicker table tr td.selected.disabled:active,
div.datepicker table tr td.selected.disabled:hover:active,
div.datepicker table tr td.selected.active,
div.datepicker table tr td.selected:hover.active,
div.datepicker table tr td.selected.disabled.active,
div.datepicker table tr td.selected.disabled:hover.active,
div.datepicker table tr td.selected.disabled,
div.datepicker table tr td.selected:hover.disabled,
div.datepicker table tr td.selected.disabled.disabled,
div.datepicker table tr td.selected.disabled:hover.disabled,
div.datepicker table tr td.selected[disabled],
div.datepicker table tr td.selected:hover[disabled],
div.datepicker table tr td.selected.disabled[disabled],
div.datepicker table tr td.selected.disabled:hover[disabled] {
  color: #ffffff;
  *background-color: #737373;
}
div.datepicker table tr td.selected:active,
div.datepicker table tr td.selected:hover:active,
div.datepicker table tr td.selected.disabled:active,
div.datepicker table tr td.selected.disabled:hover:active,
div.datepicker table tr td.selected.active,
div.datepicker table tr td.selected:hover.active,
div.datepicker table tr td.selected.disabled.active,
div.datepicker table tr td.selected.disabled:hover.active {
  background-color: #666666 \9;
}
div.datepicker table tr td.active,
div.datepicker table tr td.active:hover,
div.datepicker table tr td.active.disabled,
div.datepicker table tr td.active.disabled:hover {
  background: #303641;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
div.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.datepicker table tr td span:hover {
  background: #eeeeee;
}
div.datepicker table tr td span.disabled,
div.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
div.datepicker table tr td span.active,
div.datepicker table tr td span.active:hover,
div.datepicker table tr td span.active.disabled,
div.datepicker table tr td span.active.disabled:hover {
  background: #303641;
  color: #fff;
}
div.datepicker table tr td span.old,
div.datepicker table tr td span.new {
  color: #999999;
}
div.datepicker th.datepicker-switch {
  width: 145px;
}
div.datepicker thead tr:first-child th,
div.datepicker tfoot tr th {
  cursor: pointer;
}
div.datepicker thead tr:first-child th:hover,
div.datepicker tfoot tr th:hover {
  background: #eeeeee;
}
div.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}
div.datepicker thead tr:first-child th.cw {
  cursor: default;
  background-color: transparent;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.input-daterange input {
  text-align: center;
}
.input-daterange input:first-child {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-daterange .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 1.42857143;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  margin-left: -5px;
  margin-right: -5px;
}
.datepicker-inline {
  border: 1px solid #ebebeb;
}
.datepicker-inline.no-border {
  border-color: transparent;
}
.datepicker-inline table {
  width: 195px;
}
.input-group-addon .color-preview {
  width: 16px;
  height: 16px;
  background: #FFF;
  display: inline-block;
  border: 1px solid #ebebeb;
}

@font-face {
  font-family: 'entypo';
  src: url('fonts/entypo.eot?71205724');
  src: url('fonts/entypo.eot?71205724#iefix') format('embedded-opentype'),
       url('fonts/entypo.woff?71205724') format('woff'),
       url('fonts/entypo.ttf?71205724') format('truetype'),
       url('fonts/entypo.svg?71205724#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('../font/entypo.svg?71205724#entypo') format('svg');
  }
}
*/
 
 [class^="entypo-"]:before, [class*=" entypo-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.entypo-note:before { content: '\e800'; } /* '' */
.entypo-logo-db:before { content: '\e91b'; } /* '' */
.entypo-music:before { content: '\e802'; } /* '' */
.entypo-search:before { content: '\e803'; } /* '' */
.entypo-flashlight:before { content: '\e804'; } /* '' */
.entypo-mail:before { content: '\e805'; } /* '' */
.entypo-heart:before { content: '\e806'; } /* '' */
.entypo-heart-empty:before { content: '\e807'; } /* '' */
.entypo-star:before { content: '\e808'; } /* '' */
.entypo-star-empty:before { content: '\e809'; } /* '' */
.entypo-user:before { content: '\e80a'; } /* '' */
.entypo-users:before { content: '\e80b'; } /* '' */
.entypo-user-add:before { content: '\e80c'; } /* '' */
.entypo-video:before { content: '\e80d'; } /* '' */
.entypo-picture:before { content: '\e80e'; } /* '' */
.entypo-camera:before { content: '\e80f'; } /* '' */
.entypo-layout:before { content: '\e810'; } /* '' */
.entypo-menu:before { content: '\e811'; } /* '' */
.entypo-check:before { content: '\e812'; } /* '' */
.entypo-cancel:before { content: '\e813'; } /* '' */
.entypo-cancel-circled:before { content: '\e814'; } /* '' */
.entypo-cancel-squared:before { content: '\e815'; } /* '' */
.entypo-plus:before { content: '\e816'; } /* '' */
.entypo-plus-circled:before { content: '\e817'; } /* '' */
.entypo-plus-squared:before { content: '\e818'; } /* '' */
.entypo-minus:before { content: '\e819'; } /* '' */
.entypo-minus-circled:before { content: '\e81a'; } /* '' */
.entypo-minus-squared:before { content: '\e81b'; } /* '' */
.entypo-help:before { content: '\e81c'; } /* '' */
.entypo-help-circled:before { content: '\e81d'; } /* '' */
.entypo-info:before { content: '\e81e'; } /* '' */
.entypo-info-circled:before { content: '\e81f'; } /* '' */
.entypo-back:before { content: '\e820'; } /* '' */
.entypo-home:before { content: '\e821'; } /* '' */
.entypo-link:before { content: '\e822'; } /* '' */
.entypo-attach:before { content: '\e823'; } /* '' */
.entypo-lock:before { content: '\e824'; } /* '' */
.entypo-lock-open:before { content: '\e825'; } /* '' */
.entypo-eye:before { content: '\e826'; } /* '' */
.entypo-tag:before { content: '\e827'; } /* '' */
.entypo-bookmark:before { content: '\e828'; } /* '' */
.entypo-bookmarks:before { content: '\e829'; } /* '' */
.entypo-flag:before { content: '\e82a'; } /* '' */
.entypo-thumbs-up:before { content: '\e82b'; } /* '' */
.entypo-thumbs-down:before { content: '\e82c'; } /* '' */
.entypo-download:before { content: '\e82d'; } /* '' */
.entypo-upload:before { content: '\e82e'; } /* '' */
.entypo-upload-cloud:before { content: '\e82f'; } /* '' */
.entypo-reply:before { content: '\e830'; } /* '' */
.entypo-reply-all:before { content: '\e831'; } /* '' */
.entypo-forward:before { content: '\e832'; } /* '' */
.entypo-quote:before { content: '\e833'; } /* '' */
.entypo-code:before { content: '\e834'; } /* '' */
.entypo-export:before { content: '\e835'; } /* '' */
.entypo-pencil:before { content: '\e836'; } /* '' */
.entypo-feather:before { content: '\e837'; } /* '' */
.entypo-print:before { content: '\e838'; } /* '' */
.entypo-retweet:before { content: '\e839'; } /* '' */
.entypo-keyboard:before { content: '\e83a'; } /* '' */
.entypo-comment:before { content: '\e83b'; } /* '' */
.entypo-chat:before { content: '\e83c'; } /* '' */
.entypo-bell:before { content: '\e83d'; } /* '' */
.entypo-attention:before { content: '\e83e'; } /* '' */
.entypo-alert:before { content: '\e83f'; } /* '' */
.entypo-vcard:before { content: '\e840'; } /* '' */
.entypo-address:before { content: '\e841'; } /* '' */
.entypo-location:before { content: '\e842'; } /* '' */
.entypo-map:before { content: '\e843'; } /* '' */
.entypo-direction:before { content: '\e844'; } /* '' */
.entypo-compass:before { content: '\e845'; } /* '' */
.entypo-cup:before { content: '\e846'; } /* '' */
.entypo-trash:before { content: '\e847'; } /* '' */
.entypo-doc:before { content: '\e848'; } /* '' */
.entypo-docs:before { content: '\e849'; } /* '' */
.entypo-doc-landscape:before { content: '\e84a'; } /* '' */
.entypo-doc-text:before { content: '\e84b'; } /* '' */
.entypo-doc-text-inv:before { content: '\e84c'; } /* '' */
.entypo-newspaper:before { content: '\e84d'; } /* '' */
.entypo-book-open:before { content: '\e84e'; } /* '' */
.entypo-book:before { content: '\e84f'; } /* '' */
.entypo-folder:before { content: '\e850'; } /* '' */
.entypo-archive:before { content: '\e851'; } /* '' */
.entypo-box:before { content: '\e852'; } /* '' */
.entypo-rss:before { content: '\e853'; } /* '' */
.entypo-phone:before { content: '\e854'; } /* '' */
.entypo-cog:before { content: '\e855'; } /* '' */
.entypo-tools:before { content: '\e856'; } /* '' */
.entypo-share:before { content: '\e857'; } /* '' */
.entypo-shareable:before { content: '\e858'; } /* '' */
.entypo-basket:before { content: '\e859'; } /* '' */
.entypo-bag:before { content: '\e85a'; } /* '' */
.entypo-calendar:before { content: '\e85b'; } /* '' */
.entypo-login:before { content: '\e85c'; } /* '' */
.entypo-logout:before { content: '\e85d'; } /* '' */
.entypo-mic:before { content: '\e85e'; } /* '' */
.entypo-mute:before { content: '\e85f'; } /* '' */
.entypo-sound:before { content: '\e860'; } /* '' */
.entypo-volume:before { content: '\e861'; } /* '' */
.entypo-clock:before { content: '\e862'; } /* '' */
.entypo-hourglass:before { content: '\e863'; } /* '' */
.entypo-lamp:before { content: '\e864'; } /* '' */
.entypo-light-down:before { content: '\e865'; } /* '' */
.entypo-light-up:before { content: '\e866'; } /* '' */
.entypo-adjust:before { content: '\e867'; } /* '' */
.entypo-block:before { content: '\e868'; } /* '' */
.entypo-resize-full:before { content: '\e869'; } /* '' */
.entypo-resize-small:before { content: '\e86a'; } /* '' */
.entypo-popup:before { content: '\e86b'; } /* '' */
.entypo-publish:before { content: '\e86c'; } /* '' */
.entypo-window:before { content: '\e86d'; } /* '' */
.entypo-arrow-combo:before { content: '\e86e'; } /* '' */
.entypo-down-circled:before { content: '\e86f'; } /* '' */
.entypo-left-circled:before { content: '\e870'; } /* '' */
.entypo-right-circled:before { content: '\e871'; } /* '' */
.entypo-up-circled:before { content: '\e872'; } /* '' */
.entypo-down-open:before { content: '\e873'; } /* '' */
.entypo-left-open:before { content: '\e874'; } /* '' */
.entypo-right-open:before { content: '\e875'; } /* '' */
.entypo-up-open:before { content: '\e876'; } /* '' */
.entypo-down-open-mini:before { content: '\e877'; } /* '' */
.entypo-left-open-mini:before { content: '\e878'; } /* '' */
.entypo-right-open-mini:before { content: '\e879'; } /* '' */
.entypo-up-open-mini:before { content: '\e87a'; } /* '' */
.entypo-down-open-big:before { content: '\e87b'; } /* '' */
.entypo-left-open-big:before { content: '\e87c'; } /* '' */
.entypo-right-open-big:before { content: '\e87d'; } /* '' */
.entypo-up-open-big:before { content: '\e87e'; } /* '' */
.entypo-down:before { content: '\e87f'; } /* '' */
.entypo-left:before { content: '\e880'; } /* '' */
.entypo-right:before { content: '\e881'; } /* '' */
.entypo-up:before { content: '\e882'; } /* '' */
.entypo-down-dir:before { content: '\e883'; } /* '' */
.entypo-left-dir:before { content: '\e884'; } /* '' */
.entypo-right-dir:before { content: '\e885'; } /* '' */
.entypo-up-dir:before { content: '\e886'; } /* '' */
.entypo-down-bold:before { content: '\e887'; } /* '' */
.entypo-left-bold:before { content: '\e888'; } /* '' */
.entypo-right-bold:before { content: '\e889'; } /* '' */
.entypo-up-bold:before { content: '\e88a'; } /* '' */
.entypo-down-thin:before { content: '\e88b'; } /* '' */
.entypo-left-thin:before { content: '\e88c'; } /* '' */
.entypo-right-thin:before { content: '\e88d'; } /* '' */
.entypo-note-beamed:before { content: '\e801'; } /* '' */
.entypo-ccw:before { content: '\e88f'; } /* '' */
.entypo-cw:before { content: '\e890'; } /* '' */
.entypo-arrows-ccw:before { content: '\e891'; } /* '' */
.entypo-level-down:before { content: '\e892'; } /* '' */
.entypo-level-up:before { content: '\e893'; } /* '' */
.entypo-shuffle:before { content: '\e894'; } /* '' */
.entypo-loop:before { content: '\e895'; } /* '' */
.entypo-switch:before { content: '\e896'; } /* '' */
.entypo-play:before { content: '\e897'; } /* '' */
.entypo-stop:before { content: '\e898'; } /* '' */
.entypo-pause:before { content: '\e899'; } /* '' */
.entypo-record:before { content: '\e89a'; } /* '' */
.entypo-to-end:before { content: '\e89b'; } /* '' */
.entypo-to-start:before { content: '\e89c'; } /* '' */
.entypo-fast-forward:before { content: '\e89d'; } /* '' */
.entypo-fast-backward:before { content: '\e89e'; } /* '' */
.entypo-progress-0:before { content: '\e89f'; } /* '' */
.entypo-progress-1:before { content: '\e8a0'; } /* '' */
.entypo-progress-2:before { content: '\e8a1'; } /* '' */
.entypo-progress-3:before { content: '\e8a2'; } /* '' */
.entypo-target:before { content: '\e8a3'; } /* '' */
.entypo-palette:before { content: '\e8a4'; } /* '' */
.entypo-list:before { content: '\e8a5'; } /* '' */
.entypo-list-add:before { content: '\e8a6'; } /* '' */
.entypo-signal:before { content: '\e8a7'; } /* '' */
.entypo-trophy:before { content: '\e8a8'; } /* '' */
.entypo-battery:before { content: '\e8a9'; } /* '' */
.entypo-back-in-time:before { content: '\e8aa'; } /* '' */
.entypo-monitor:before { content: '\e8ab'; } /* '' */
.entypo-mobile:before { content: '\e8ac'; } /* '' */
.entypo-network:before { content: '\e8ad'; } /* '' */
.entypo-cd:before { content: '\e8ae'; } /* '' */
.entypo-inbox:before { content: '\e8af'; } /* '' */
.entypo-install:before { content: '\e8b0'; } /* '' */
.entypo-globe:before { content: '\e8b1'; } /* '' */
.entypo-cloud:before { content: '\e8b2'; } /* '' */
.entypo-cloud-thunder:before { content: '\e8b3'; } /* '' */
.entypo-flash:before { content: '\e8b4'; } /* '' */
.entypo-moon:before { content: '\e8b5'; } /* '' */
.entypo-flight:before { content: '\e8b6'; } /* '' */
.entypo-paper-plane:before { content: '\e8b7'; } /* '' */
.entypo-leaf:before { content: '\e8b8'; } /* '' */
.entypo-lifebuoy:before { content: '\e8b9'; } /* '' */
.entypo-mouse:before { content: '\e8ba'; } /* '' */
.entypo-briefcase:before { content: '\e8bb'; } /* '' */
.entypo-suitcase:before { content: '\e8bc'; } /* '' */
.entypo-dot:before { content: '\e8bd'; } /* '' */
.entypo-dot-2:before { content: '\e8be'; } /* '' */
.entypo-dot-3:before { content: '\e8bf'; } /* '' */
.entypo-brush:before { content: '\e8c0'; } /* '' */
.entypo-magnet:before { content: '\e8c1'; } /* '' */
.entypo-infinity:before { content: '\e8c2'; } /* '' */
.entypo-erase:before { content: '\e8c3'; } /* '' */
.entypo-chart-pie:before { content: '\e8c4'; } /* '' */
.entypo-chart-line:before { content: '\e8c5'; } /* '' */
.entypo-chart-bar:before { content: '\e8c6'; } /* '' */
.entypo-chart-area:before { content: '\e8c7'; } /* '' */
.entypo-tape:before { content: '\e8c8'; } /* '' */
.entypo-graduation-cap:before { content: '\e8c9'; } /* '' */
.entypo-language:before { content: '\e8ca'; } /* '' */
.entypo-ticket:before { content: '\e8cb'; } /* '' */
.entypo-water:before { content: '\e8cc'; } /* '' */
.entypo-droplet:before { content: '\e8cd'; } /* '' */
.entypo-air:before { content: '\e8ce'; } /* '' */
.entypo-credit-card:before { content: '\e8cf'; } /* '' */
.entypo-floppy:before { content: '\e8d0'; } /* '' */
.entypo-clipboard:before { content: '\e8d1'; } /* '' */
.entypo-megaphone:before { content: '\e8d2'; } /* '' */
.entypo-database:before { content: '\e8d3'; } /* '' */
.entypo-drive:before { content: '\e8d4'; } /* '' */
.entypo-bucket:before { content: '\e8d5'; } /* '' */
.entypo-thermometer:before { content: '\e8d6'; } /* '' */
.entypo-key:before { content: '\e8d7'; } /* '' */
.entypo-flow-cascade:before { content: '\e8d8'; } /* '' */
.entypo-flow-branch:before { content: '\e8d9'; } /* '' */
.entypo-flow-tree:before { content: '\e8da'; } /* '' */
.entypo-flow-line:before { content: '\e8db'; } /* '' */
.entypo-flow-parallel:before { content: '\e8dc'; } /* '' */
.entypo-rocket:before { content: '\e8dd'; } /* '' */
.entypo-gauge:before { content: '\e8de'; } /* '' */
.entypo-traffic-cone:before { content: '\e8df'; } /* '' */
.entypo-cc:before { content: '\e8e0'; } /* '' */
.entypo-cc-by:before { content: '\e8e1'; } /* '' */
.entypo-cc-nc:before { content: '\e8e2'; } /* '' */
.entypo-cc-nc-eu:before { content: '\e8e3'; } /* '' */
.entypo-cc-nc-jp:before { content: '\e8e4'; } /* '' */
.entypo-cc-sa:before { content: '\e8e5'; } /* '' */
.entypo-cc-nd:before { content: '\e8e6'; } /* '' */
.entypo-cc-pd:before { content: '\e8e7'; } /* '' */
.entypo-cc-zero:before { content: '\e8e8'; } /* '' */
.entypo-cc-share:before { content: '\e8e9'; } /* '' */
.entypo-cc-remix:before { content: '\e8ea'; } /* '' */
.entypo-github:before { content: '\e8eb'; } /* '' */
.entypo-github-circled:before { content: '\e8ec'; } /* '' */
.entypo-flickr:before { content: '\e8ed'; } /* '' */
.entypo-flickr-circled:before { content: '\e8ee'; } /* '' */
.entypo-vimeo:before { content: '\e8ef'; } /* '' */
.entypo-vimeo-circled:before { content: '\e8f0'; } /* '' */
.entypo-twitter:before { content: '\e8f1'; } /* '' */
.entypo-twitter-circled:before { content: '\e8f2'; } /* '' */
.entypo-facebook:before { content: '\e8f3'; } /* '' */
.entypo-facebook-circled:before { content: '\e8f4'; } /* '' */
.entypo-facebook-squared:before { content: '\e8f5'; } /* '' */
.entypo-gplus:before { content: '\e8f6'; } /* '' */
.entypo-gplus-circled:before { content: '\e8f7'; } /* '' */
.entypo-pinterest:before { content: '\e8f8'; } /* '' */
.entypo-pinterest-circled:before { content: '\e8f9'; } /* '' */
.entypo-tumblr:before { content: '\e8fa'; } /* '' */
.entypo-tumblr-circled:before { content: '\e8fb'; } /* '' */
.entypo-linkedin:before { content: '\e8fc'; } /* '' */
.entypo-linkedin-circled:before { content: '\e8fd'; } /* '' */
.entypo-dribbble:before { content: '\e8fe'; } /* '' */
.entypo-dribbble-circled:before { content: '\e8ff'; } /* '' */
.entypo-stumbleupon:before { content: '\e900'; } /* '' */
.entypo-stumbleupon-circled:before { content: '\e901'; } /* '' */
.entypo-lastfm:before { content: '\e902'; } /* '' */
.entypo-lastfm-circled:before { content: '\e903'; } /* '' */
.entypo-rdio:before { content: '\e904'; } /* '' */
.entypo-rdio-circled:before { content: '\e905'; } /* '' */
.entypo-spotify:before { content: '\e906'; } /* '' */
.entypo-spotify-circled:before { content: '\e907'; } /* '' */
.entypo-qq:before { content: '\e908'; } /* '' */
.entypo-instagram:before { content: '\e909'; } /* '' */
.entypo-dropbox:before { content: '\e90a'; } /* '' */
.entypo-evernote:before { content: '\e90b'; } /* '' */
.entypo-flattr:before { content: '\e90c'; } /* '' */
.entypo-skype:before { content: '\e90d'; } /* '' */
.entypo-skype-circled:before { content: '\e90e'; } /* '' */
.entypo-renren:before { content: '\e90f'; } /* '' */
.entypo-sina-weibo:before { content: '\e910'; } /* '' */
.entypo-paypal:before { content: '\e911'; } /* '' */
.entypo-picasa:before { content: '\e912'; } /* '' */
.entypo-soundcloud:before { content: '\e913'; } /* '' */
.entypo-mixi:before { content: '\e914'; } /* '' */
.entypo-behance:before { content: '\e915'; } /* '' */
.entypo-google-circles:before { content: '\e916'; } /* '' */
.entypo-vkontakte:before { content: '\e917'; } /* '' */
.entypo-smashing:before { content: '\e918'; } /* '' */
.entypo-sweden:before { content: '\e919'; } /* '' */
.entypo-db-shape:before { content: '\e91a'; } /* '' */
.entypo-up-thin:before { content: '\e88e'; } /* '' */

.sepet-sip-tarih { 
	width:100%;
	float:left;
}
ul {
	list-style-type:none;
}

.baslangicbitis { 
	width:100%;
	float:left;
}
.baslangicbitis .tarihler .title { 
	font-weight:600;
	color:#666;
}
.baslangicbitis .tarihler .tarih { 
  margin-bottom:5px;
  width:100%;
  float:left;
}